.menu-icon {
    font-size: 1.25rem;
  }
  .current {
    opacity: 0.8;
    color: white;
  }
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: #e4e4e4;
  }
  a {
    color: #e39777;
  }
  img {
    filter: grayscale(30%);
  }
  .card {
    background-color: #333;
    color: #e4e4e4;
  }
}
body {
  padding-top: 4.5rem;
}
.language-text{
  color:#e4e4e4;
}