---
layout: default
---
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
<div class="jumbotron bg-dark text-light">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p>
            {{ page.date | date_to_string }}
            {% assign topic = site.topics | where: 'short_name' , page.topic | first %}
            {% if topic %}
                - <a href="{{ topic.url | relative_url}}">{{ topic.name }}</a>
            {% endif %}
        </p>            
    </div>
</div>

<!-- <p>{{ page.date | date_to_string }} - {{ page.author }}</p> -->

<div class="post">
  {{ content }}
</div>
<hr>
{% include recent.html %}