---
layout: default
---
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 d-none d-sm-block">
        <div class="card shadow sticky-top" style="top: 4.5em;">
          <div class="card-body">
              <h5 class="card-title text-overflow text-primary">{{ page.title }}<br>- 目次 -</h5>
              <p class="small">{{ page.date | date_to_string }}</p>
              <p>{% include toc.html html=content h_max=2 class="toc list-unstyled" item_class="text-overflow" submenu_class="mb-2" %}</p>
              <!-- <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああ</p> -->
          </div>
      </div> 
      
    </div>
    <div class="col-sm-9 shadow py-3">
      <div class="jumbotron bg-dark text-light">
        <div class="container-sm">
            <h1>{{ page.title }}</h1>
            <p>
                {{ page.date | date_to_string }}
                {% assign topic = site.topics | where: 'sho rt_name' , page.topic | first %}
                {% if topic %}
                    - <a href="{{ topic.url | relative_url}}">{{ topic.name }}</a>
                {% endif %}
            </p>            
        </div>    
      </div>
      <div class="container-sm post">
        {{ content }}
      </div>    
    </div>
  </div>
</div>
<hr>
{% include recent.html %}